
@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    td {
        vertical-align: top;
    }

    /* 設置不同列的寬度比例 */
    .date-column {
        width: 20%;
    }

    .reasons-column {
        width: 50%;
    }

    .other-reason-column {
        width: 30%;
    }

    /* 表格之間的距離 */
    h2 {
        margin-top: 40px;
    }
</style>
<h1>智能客服反饋詳細資料</h1>
<h2>按讚的反饋</h2>
<table>
    <thead>
        <tr>
            <th>提交日期</th>
            <th>客服機器人訊息</th>
            <th>回饋原因</th>
            <th>其他原因</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model.PositiveFeedbacks)
        {
            <tr>
                <td>@feedback.SubmittedAt</td>
                <td>@feedback.ChatbotMessage</td>  <!-- 顯示客服機器人訊息 -->
                <td>@string.Join(", ", feedback.Reasons)</td>
                <td>@feedback.OtherReason</td>
                <td>
                <form asp-action="FeedbackDelete" asp-controller="Admin" method="post">
                    <input type="hidden" name="id" value="@feedback.Id" />
                    <button onclick="return confirm('確定要刪除嗎?')" class="btn btn-danger btn-sm">刪除</button>
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<hr />
<br />
<h2>按倒讚的反饋</h2>
<table>
    <thead>
        <tr>
            <th>提交日期</th>
            <th>客服機器人訊息</th>
            <th>回饋原因</th>
            <th>其他原因</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model.NegativeFeedbacks)
        {
            <tr>
                <td>@feedback.SubmittedAt</td>
                <td>@feedback.ChatbotMessage</td>  <!-- 顯示客服機器人訊息 -->
                <td>@string.Join(", ", feedback.Reasons)</td>
                <td>@feedback.OtherReason</td>
                <td>
                    <form asp-action="FeedbackDelete" asp-controller="Admin" method="post">
                        <input type="hidden" name="id" value="@feedback.Id" />
                        <button onclick="return confirm('確定要刪除嗎?')" class="btn btn-danger btn-sm">刪除</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


 